*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: #051822;
    font-family: "latoregular", "Arial", sans-serif;
}

#wrapper {
    background-color: #F2E0F2;
}

#content {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 60%;
    padding-bottom: 100px;
}
.menu {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 100px;
}

ul.nobullet {
  margin-top: 15px;
  list-style-type: none;
  text-align: right;
}
ul.linkicons {
  margin-top: 10px;
  list-style-type: none;
  text-align: center;
  color: #000000;
}
ul.linkicons li {
  display: inline
}
ul.linkicons a{
  color: black;
}
ul.linkicons i{
  font-size: 20px;
}
ul.archive {
  margin-top: 15px;
  list-style-type: none;
}
ul.archive li{
  margin-bottom: 10px;
}
h1 {
    font-size:34px;
    margin-bottom: 15px;
}
h2 {
    color: #184468;
    font-size: 30px;
    margin-bottom: 22px;
}
h3 {
    color: #184468;
    font-size:24px;
    margin-bottom: 10px;
}
h4 {
    font-size:16px;
    margin-bottom: 15px;
}
p, pre{
    margin-bottom: 15px;
}
pre{
  margin-left: 25px;
}
a:link {
  color: #840044;
  text-decoration: none;
}

a:visited {
  color: #840044;
  text-decoration: none;
}

a:hover {
  color: #840044;
  text-decoration: underline;
}
a.posttitle {
    color: #184468;
    font-size:24px;
    margin-bottom: 15px;
}
div.menu a.avatar {
    margin-bottom: 30px;
}
/* single post page layout */
.postcontent {
    width: 650px;
    font-size: 13pt;
}
.postdate {
   text-align: right;
   margin-bottom: 40px;
}
.postdateheading {
   text-align: right;
   margin-bottom: 10px;
}
.post p{
  line-height: 22px;
}
.post p img{
  width: 100%;
}
.postcontent p{
  width: 550px;
  line-height: 22px;
}
.post ul{
  margin-left: 30px;
  margin-bottom: 15px;
}

div.archive {
  margin-left: 10px;
}

span.archivedate {
  float: right;
}

hr {
  color: red;
  margin: 10px;
}

ul.taglist {
  margin-top: 50px;
}

ul.taglist li {
  display: inline;
  color: #840044;
}

ul.tagposts li {
  color: #840044;
}

ul.tagposts {
  margin-top: 15px;
  list-style-type: none;
}

h3.tagheading {
  color: #184468;
  font-size:24px;
  margin-top: 20px;
  margin-bottom: -10px;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #840044;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
  display: block;
  margin-bottom: 0;
}
blockquote p.cite {
  margin-top: 10px;
}
