*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: #051822;
    font-family: "Helvetica","Arial", sans-serif;

}

#wrapper {
    background-color: #F2E0F2;
}

#header {
    position: absolute;
    top: 10px;
    left: 240px;
    width: 540px;
    font-family: "Helvetica", "Arial", sans-serif;
}

#content {
    position: absolute;
    left: 250px;
    top: 20px;
    width: 700px;
    padding-bottom: 100px;
}
.menu {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 100px;
}

ul.nobullet {
  margin-top: 15px;
  list-style-type: none;
  text-align: right;
}
ul.linkicons {
  margin-top: 10px;
  list-style-type: none;
  text-align: center;
  color: #000000;
}
ul.linkicons li {
  display: inline
}
ul.linkicons a{
  color: black;
}
ul.archive {
  margin-top: 15px;
  list-style-type: none;
}
ul.archive li{
  margin-bottom: 10px;
}
h1 {
    font-family: "Palatino", "Palatino Linotype", "Georgia", serif;
    font-size:34px;
    margin-bottom: 15px;
}
h2 {
    color: #184468;
    font-family: "Lobster";
    font-size: 30px;
    margin-bottom: 22px;
}
h3 {
    color: #184468;
    font-family: "Lobster";
    font-size:24px;
    margin-bottom: 10px;
}
h4 {
    font-size:16px;
    margin-bottom: 15px;
}
p, pre{
    margin-bottom: 15px;
}
pre{
  margin-left: 25px;
}
a:link {
  color: #840044;
  text-decoration: none;
}

a:visited {
  color: #840044;
  text-decoration: none;
}

a:hover {
  color: #840044;
  text-decoration: underline;
}
a.posttitle {
    color: #184468;
    font-size:24px;
    margin-bottom: 15px;
}
div.menu a.avatar {
    margin-bottom: 30px;
}
/* single post page layout */
.postcontent {
    width: 650px;
}
.postdate {
   text-align: right;
   margin-bottom: 40px;
}
.postdateheading {
   text-align: right;
   margin-bottom: 10px;
}
.post p{
  font-size: 12pt;
  line-height: 22px;
}
.postcontent p{
  width: 550px;
  font-size: 12pt;
  line-height: 22px;
}
.post ul{
  margin-left: 30px;
  margin-bottom: 15px;
}

div.archive {
  margin-left: 10px;
}

span.archivedate {
  float: right;
}

hr {
  color: red;
  margin: 10px;
}
