*{
    margin: 0;
    padding: 0;
}

body {
    background-color: ##F2E0F2;
    color: #051822;
    font-family: "Times New Roman", serif;

}

#header {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 400px;
    font-family: "Helvetica", "Arial", sans-serif;
}

#content {
    position: absolute;
    left: 170px;
    top: 160px;
    width: 600px;
}

.menu {
    position: absolute;
    left: 800px;
    top: 150px;
    width: 75px;
}

ul.nobullet {
  list-style-type: none;
}

a:link {
  color: #5371DF;
  text-decoration: none;
}

a:visited {
  color: #7243C9;
  text-decoration: none;
}

a:hover {
  color: #5371DF;
  text-decoration: underline;
}

