---
layout: default
title: Projects
---
<div class="postconent projects">
  <h3>Projects on GitHub</h3>
  <ul class="archive">
  {% for project in site.data.githubprojects %}
    <li><div class="github-widget" data-repo="{{project}}"></div></li>
  {% endfor %}
  </ul>
  </br>
  <h3>Other stuff I've made</h3>
  <ul class="archive">
  {% for project in site.data.funprojects %}
    <li><a href="{{project.url}}">{{project.title}}</a></li>
  {% endfor %}
  </ul>
</div>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/js/jquery.githubRepoWidget.js"></script>
