<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/css/pygments.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://feeds.feedburner.com/unwiredcouchcom"
        type="application/atom+xml" rel="alternate" title="unwiredcouch.feed" />

        <title>unwiredcouch.com - {{ page.title }}</title>
    </head>
    <body>
        <div id="links" class="menu">
           <a href="/">
             <img src="http://gravatar.com/avatar/89e0ad1229121f46047977ac547bd7b4?s=142"
                  height="75" width="75" class="avatar" />
           </a>
            <ul class="nobullet">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/archive.html">Archive</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="http://feeds.feedburner.com/unwiredcouchcom">Feed</a></li>
                <li>-----</li>
                <li><a href="http://twitter.com/mrtazz">Twitter</a></li>
                <li><a href="http://github.com/mrtazz">Github</a></li>
                <li><a href="http://calendaraboutnothing.com/~mrtazz">CAN</a></li>
            </ul>
        </div>
        <div id="wrapper">
            <div id="header">
                <h1>{{ site.headline }}</h1>
            </div>
            <div id="content">
                {{ content }}
            </div>
        </div>
        {% include gauges.html %}
    </body>
</html>
